.container{
	width: 100%;
}

img{
	float: right;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-right: 50px;
}

.up{
	background-image:url(../image/fond.jpg);
	border:4px solid #55b298;
	height: 30%;
	width: 100%;
	margin-bottom: 5px;
}

.center{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

/* Pour la fenêtre popup evenement*/
.popup-evenement{
  position: absolute;
  top: 500px;
  left: 1px;
  width: 100%;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

h1{
	padding-left: 50px;
}

#photo{
	width: 50px;
	height: 50px;
	margin: 0px;
}

body{
	background-color: #D1F4FF;
}

footer{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}