/*
 * Bootstrap gallery v1.1
 * https://github.com/ludovicscribe/bootstrap-gallery
 * https://ludovicscribe.fr/blog/galerie-images-bootstrap
 *
 * Copyright 2016, Scribe Ludovic
 * https://ludovicscribe.fr/
 */

#bootstrap-gallery .modal-dialog {
	margin-left: auto;
	margin-right: auto;
}

#bootstrap-gallery .modal-content {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#bootstrap-gallery .modal-header {
	padding: 5px 10px;
}

#bootstrap-gallery .modal-body {
	padding: 0;
}

#bootstrap-gallery .modal-body img {
	width: 100%;
}

#bootstrap-gallery .modal-body  .carousel-control {
	background-image: none;
}

#bootstrap-gallery .modal-header  a.modal-button {
	float: right;
	font-size: 18px;
	line-height: 1;
	color: #CCCCCC;
	margin-left: 5px;
}

#bootstrap-gallery .modal-header  a.modal-button:hover {
	text-decoration: none;
	color: #808080;
}

.container{
	width: 100%;
}

.notif{
	margin: 15px;
}

.image{
	float: right;
	margin: 15px;
	margin-top: 25px;
	margin-right: 50px;
}

body{
  background-color: #D1F4FF;
}

h1{
  padding-left: 50px;
}

footer{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img{
  float: right;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-right: 50px;
}

.up{
  background-image:url(../image/fond.jpg);
  border:4px solid #55b298;
  height: 30%;
  width: 100%;
  margin-bottom: 5px;
}

.center{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
