body{
  background-color: #D1F4FF;
}

h1{
  padding-left: 50px;
}

footer{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img{
  float: right;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-right: 50px;
}

.up{
  background-image:url(../image/fond.jpg);
  border:4px solid #55b298;
  height: 30%;
  width: 100%;
  margin-bottom: 5px;
}

.center{
  position: relative;
  left: 1px;
  margin-top: 0px;
  float: left;
}

.popup{
  position: absolute;
  top: 0px;
  left: 1px;
  width: 100%;
  display: none;
  margin-left: auto;
  margin-right: auto;
} 