.design-haut{
	height: auto;
	background-color: skyblue;
	min-width: 100%;
}
.row-color{
	background-color: skyblue;
}
.design_barre{
	height: 50px;
	background-color: skyblue;
}
.btn-custom{
	background-color: skyblue;
}
.img-fluid {
  display: block;
  max-width: 200%;
  height: auto;
}
.fond-gris{
height: 250px;
max-width: 100%
background-color: skyblue;
	}
.body {
	margin:auto;
	text-align: center;
	}
.row-even {
background-color:#76A0D3;
}

.modal-dialog2 {
 
          width: 3000px;
 
          height:600px !important;
 
        }
 
.modal-content2 {
 
    /* 80% of window height */
 
    height: 60%;
 
    background-color:#BBD6EC;
 
}       
 
.modal-header2 {
 
    background-color: #337AB7;
 
    padding:16px 16px;
 
    color:#FFF;
 
    border-bottom:2px dashed #337AB7;
 
 }