/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 100%;width:100%;text-align: center;}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: grey;
  height: 100%;
}

/* Pour la fenêtre popup*/
.popup{
  position: fixed;
  top: 350px;
  display: none;
  width: 1000px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.center{
  position: absolute;
  margin-top: 0px;
}

body{
  background-color: #D1F4FF;
}

h1{
  padding-left: 50px;
}

footer{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img{
  float: right;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-right: 50px;
}

/* Pour la fenêtre popup evenement*/
.popup-evenement{
  position: absolute;
  top: 500px;
  left: 1px;
  width: 100%;
  display: none;
  margin-left: auto;
  margin-right: auto;
} 

#container{
  height: 100%;
  width: 100%;
}

.up{
  background-image:url(../image/fond.jpg);
  border:4px solid #55b298;
  height: 30%;
  width: 100%;
  margin-bottom: 5px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

